/* body for login page */
body {
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: #bcbcbc;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* style for body of every page when logged in */

body.loggedin {
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

/* style for login */

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: Crimson;
  	color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.btn-group button {
  	display: inline-block;
 	margin-top: 20px;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
	float: left;
	width: fit-content;
}

.login form input[type="submit"], #register {
	background-color: Crimson;
	color: #ffffff;
	border: 1px solid red;
	width: 197px;
	padding: 15px;
}

.btn-group button:not(:last-child) {
	border-right: none;
}

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.login form input[type="submit"]:hover, #register:hover {
	background-color: #ec9b9b;
  	transition: background-color 0.2s;
}

/* style for register page */
.register {
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
.register h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}
.register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
 	height: 50px;
  	background-color: Crimson;
  	color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}
.register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: Crimson;
 	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
	background-color: #ec9b9b;
  	transition: background-color 0.2s;
}


/* style for nav bar on every page */

.nav-bar {
  width: 100%;
  overflow: hidden;
  background: black;
  position: fixed;
  top: 0;
  z-index: 300;

}

.nav-bar a {
  float:left;
  disply: block;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-family: arial;
  margin-left: 100px;
}

.nav-bar a:first-child {
  float: left;
  margin-left:0;
  padding: 20px 15px;
}

.nav-bar a:hover {
  background: crimson;
  text-transform: uppercase;
}

.nav-bar .icon {
  display: none;
}

.nav-bar .searchbar input[type=text] {
  float: right;
  padding: 10px 15px;
  margin-left: 20px;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
}

@media screen and (max-width: 1500px) {
  .nav-bar a:not(:first-child) {display: none;}
  .nav-bar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1500px) {
  .nav-bar.responsive {position:relative}
  .nav-bar.responsive.icon {
    position: absolute;
    right:0;
    top:0;
  }
  .nav-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* style for create page */
.btn-group-create button {
  background-color: Crimson;
  border: none;
  border-radius: 25px;
  color: white; /* White text */
  padding: 16px 20px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%;
  display: block; /* Make the buttons appear below each other */
}

.btn-group-create button:first-child {
  margin-top: 100px;
}

.btn-group-create button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.form-popup-create {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1;
  overflow:auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.form-container-create {
  padding: 10px;
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
}

.form-container-create input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}

.form-container-create input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container-create .btn {
  background-color: crimson;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container-create .cancel, .form-container-genre .cancel {
  background-color: red;
}

.form-container-create .btn:hover, .form-container-genre:hover {
  opacity: 0.8;
}

.form-container-create .dropbtn {
  background-color: crimson;
}

.open-button-create:hover, .open-button-create:focus {
  opacity:0.8;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  opacity: 0.8;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.multiselect {
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

.slidecontainer-mood {
  width: 30%;
  float: right;
  margin-right: 50px;
}

.slidecontainer-length {
  width: 100%;
}


.slidermood {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slidermood:hover {
  opacity: 1;
}

.slidermood::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: Crimson;
  cursor: pointer;
}

.slidermood::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: Crimson;
  cursor: pointer;
}

.sliderlength {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderlength:hover {
  opacity: 1;
}

.sliderlength::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: Crimson;
  cursor: pointer;
}

.sliderlength::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: Crimson;
  cursor: pointer;
}


/* style for home page */

.leftcolumn-home {
  float: left;
  width: 25%;
}

.rightcolumn-home {
  float: left;
  width: 75%;
}

.user-home {
  background-color: LightSlateGrey;
  padding: 20px;
  margin-top: 100px;
  border: 5px solid Crimson;
  border-radius: 25px;
}

.user-home p {
  color: black;
  font-size: 16px;
}

.user-home ol {
  color: black;
  font-size: 16px;
}

.toprow-home {
  background-color: LightSlateGrey;
  padding: 20px;
  margin-top: 100px;
  border: 5px solid Crimson;
  margin-left: 20px;
  border-radius: 25px;
}

.bottomrow-home {
  background-color: LightSlateGrey;
  padding: 20px;
  border: 5px solid Crimson;
  margin-left: 20px;
  border-radius: 25px;
}

.playlist-home {
  background-color: black;
  padding: 20px;
  border: 3px solid DimGrey;
  border-radius: 25px;
}

.playlist-home p {
  color: white;
  font-size: 18px;
}

.row-home:after {
  content: "";
  display: table;
  clear: both;
}

/* style for album covers for tables of playlists and auto-generated playlists (on home and playlist page) */

.fakecover {
  background-color: Crimson;
  width: 5px;
  height: 5px;
  padding: 20px;
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;

}


/* style for playlist page */

.leftcolumn-playlist {
  float: left;
  width: 30%;
}

.rightcolumn-playlist {
  float: left;
  width: 70%;
}

.column-blank {
  float: right;
  width: 70%;
}

.toprow-playlist {
  background-color: LightSlateGrey;
  padding: 20px;
  margin-top: 100px;
  border: 5px solid Crimson;
  margin-left: 20px;
  border-radius: 25px;
}

.bottomrow-playlist {
  background-color: LightSlateGrey;
  padding: 20px;
  border: 5px solid Crimson;
  margin-left: 20px;
  border-radius: 25px;
}

.playlist-playlist {
  background-color: black;
  padding: 20px;
  border: 3px solid DimGrey;
  border-radius: 25px;
}

.playlist-playlist p {
  color: white;
  font-size: 18px;
}

.current-playlist {
  background-color: LightSlateGrey;
  padding: 20px;
  margin-top: 100px;
  border: 5px solid Crimson;
  border-radius: 25px;
  margin-left: 20px;
  overflow-wrap: break-word;
}

.fakecovercurrent-playlist {
  background-color: Crimson;
  width: 100px;
  height: 120px;
  padding: 20px;
  position: relative;
  margin-right: 10px;
  float: left;
}

.song-playlist {
  background-color: black;
  padding: 20px;
  border: 3px solid DimGrey;
  border-radius: 25px;
  margin-left: 20px;
  height: 50px;
  display: flex
  flex-wrap: wrap;
}

.song-playlist p {
  color: white;
  word-spacing: 150px;
}

.row-playlist:after {
  content: "";
  display: table;
  clear: both;
}

/* style for the user stats page */

.userinfo-user {
  background-color: black;
  padding: 20px;
  border: 5px solid Crimson;
  border-radius: 25px;
  color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.column-user {
  padding: 10px;
  background-color: LightSlateGrey;
  border: 3px solid Crimson;
  color: black;
  border-radius: 25px;
}

/* style for profile page */

.profileinfo-profile {
  background-color: black;
  padding: 20px;
  border: 3px solid Crimson;
  border-radius: 25px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.profileinfo-profile p {
  color: white;
  text-align: center;
}

.profileinfo-profile ul {
  list-style-type: none;
  text-align: center;
}

.profileinfo-profile p li{
  color: white;
  text-align: center;
}

.form-popup-profile {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1;
  overflow:auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.form-container-profile {
  padding: 10px;
  background-color: white;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
}

.form-container-profile input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #f1f1f1;
}

.form-container-profile input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container-profile .btn {
  background-color: crimson;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container-profile .cancel {
  background-color: Gray;
}

.form-container-profile .btn:hover, .open-button:hover {
  opacity: 0.8;
}

.form-container-profile .cancelbtn {
  background-color: Gray;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container-profile .deletebtn {
  background-color: red;
}


.delete-content {
  text-align: center;
}

.btn-group-profile button {
  background-color: Crimson;
  border: none;
  border-radius: 25px;
  color: white; /* White text */
  padding: 16px 20px;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%;
  display: block; /* Make the buttons appear below each other */
}

.btn-group-profile button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}




/* animation for buttons */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
